{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["babel-plugin-transform-react-jsx", { "pragma": "nameless" }],
    "babel-plugin-add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul"]
      ]
    }
  }
}
